@media only screen and (min-width: 300px) {
    #faq-section {
        top: 500px;
    }
}

@media only screen and (min-width: 420px) {
    #faq-section {
        top: 550px;
    }
}

@media only screen and (min-width: 470px) {
    #faq-section {
        top: 600px;
    }
}

@media only screen and (min-width: 530px) {
    #faq-section {
        top: 650px;
    }
}

@media only screen and (min-width: 570px) {
    #faq-section {
        top: 700px;
    }
}

@media only screen and (min-width: 639px) {
    #faq-section {
        top: 770px;
    }
}

@media only screen and (min-width: 730px) {
    #faq-section {
        top: 840px;
    }
}

@media only screen and (min-width: 768px) {
    #faq-section {
        top: 820px;
    }
}

@media only screen and (min-width: 780px) {
    #faq-section {
        top: 900px;
    }
}

@media only screen and (min-width: 848px) {
    #faq-section {
        top: 920px;
    }
}

@media only screen and (min-width: 880px) {
    #faq-section {
        top: 960px;
    }
}

@media only screen and (min-width: 910px) {
    #faq-section {
        top: 1000px;
    }
}

@media only screen and (min-width: 950px) {
    #faq-section {
        top: 1040px;
    }
}

@media only screen and (min-width: 1000px) {
    #faq-section {
        top: 1110px;
    }
}

@media only screen and (min-width: 1050px) {
    #faq-section {
        top: 1160px;
    }
}

@media only screen and (min-width: 1100px) {
    #faq-section {
        top: 1200px;
    }
}

@media only screen and (min-width: 1150px) {
    #faq-section {
        top: 1250px;
    }
}

@media only screen and (min-width: 1200px) {
    #faq-section {
        top: 1300px;
    }
}

@media only screen and (min-width: 1250px) {
    #faq-section {
        top: 1350px;
    }
}

@media only screen and (min-width: 1280px) {
    #faq-section {
        top: 1600px;
    }
}

@media only screen and (min-width: 1350px) {
    #faq-section {
        top: 1600px;
    }
}

@media only screen and (min-width: 1536px) {
    #faq-section {
        top: 1800px;
    }
}

@media only screen and (min-width: 1640px) {
    #faq-section {
        top: 1900px;
    }
}

@media only screen and (min-width: 1760px) {
    #faq-section {
        top: 2000px;
    }
}

@media only screen and (min-width: 1860px) {
    #faq-section {
        top: 2100px;
    }
}