#landing-page-newsletter-forward-arrow {
    top: 274px;
    left: 66%;
}

@media only screen and (min-width: 360px) {
    #landing-page-newsletter-forward-arrow {
        left: 62%;
    }
}

@media only screen and (min-width: 375px) {
    #landing-page-newsletter-forward-arrow {
        left: 58%;
    }
}

@media only screen and (min-width: 390px) {
    #landing-page-newsletter-forward-arrow {
        left: 57%;
    }
}

@media only screen and (min-width: 410px) {
    #landing-page-newsletter-forward-arrow {
        left: 55%;
    }
}

@media only screen and (min-width: 430px) {
    #landing-page-newsletter-forward-arrow {
        left: 53%;
    }
}

@media only screen and (min-width: 450px) {
    #landing-page-newsletter-forward-arrow {
        left: 51%;
    }
}

@media only screen and (min-width: 475px) {
    #landing-page-newsletter-forward-arrow {
        left: 49%;
    }
}

@media only screen and (min-width: 495px) {
    #landing-page-newsletter-forward-arrow {
        left: 47%;
    }
}

@media only screen and (min-width: 525px) {
    #landing-page-newsletter-forward-arrow {
        left: 45%;
    }
}

@media only screen and (min-width: 555px) {
    #landing-page-newsletter-forward-arrow {
        left: 43%;
    }
}

@media only screen and (min-width: 590px) {
    #landing-page-newsletter-forward-arrow {
        left: 41%;
    }
}

@media only screen and (min-width: 625px) {
    #landing-page-newsletter-forward-arrow {
        left: 39%;
    }
}

@media only screen and (min-width: 640px) {
    #landing-page-newsletter-forward-arrow {
        left: 51%;
    }
}

@media only screen and (min-width: 648px) {
    #landing-page-newsletter-forward-arrow {
        left: 49%;
    }
}

@media only screen and (min-width: 675px) {
    #landing-page-newsletter-forward-arrow {
        left: 47%;
    }
}

@media only screen and (min-width: 710px) {
    #landing-page-newsletter-forward-arrow {
        left: 45%;
    }
}

@media only screen and (min-width: 770px) {
    #landing-page-newsletter-forward-arrow {
        left: 43%;
    }
}

@media only screen and (min-width: 795px) {
    #landing-page-newsletter-forward-arrow {
        left: 41%;
    }
}

@media only screen and (min-width: 845px) {
    #landing-page-newsletter-forward-arrow {
        left: 39%;
    }
}

@media only screen and (min-width: 905px) {
    #landing-page-newsletter-forward-arrow {
        left: 37%;
    }
}

@media only screen and (min-width: 975px) {
    #landing-page-newsletter-forward-arrow {
        left: 35%;
    }
}

@media only screen and (min-width: 1024px) {
    #landing-page-newsletter-forward-arrow-big {
        left: 31.5%;
    }
}

@media only screen and (min-width: 1140px) {
    #landing-page-newsletter-forward-arrow-big {
        left: 32%;
    }
}

@media only screen and (min-width: 1280px) {
    #landing-page-newsletter-forward-arrow-big {
        left: 26.5%;
    }
}

@media only screen and (min-width: 300px) {
    #landingpage-newsletter-section-mobile {
        top: 450px;
    }
}

@media only screen and (min-width: 420px) {
    #landingpage-newsletter-section-mobile {
        top: 480px;
    }
}

@media only screen and (min-width: 470px) {
    #landingpage-newsletter-section-mobile {
        top: 580px;
    }
}

@media only screen and (min-width: 530px) {
    #landingpage-newsletter-section-mobile {
        top: 580px;
    }
}

@media only screen and (min-width: 570px) {
    #landingpage-newsletter-section-mobile {
        top: 700px;
    }
}

@media only screen and (min-width: 639px) {
    #landingpage-newsletter-section-mobile {
        top: 770px;
    }
}

@media only screen and (min-width: 730px) {
    #landingpage-newsletter-section-mobile {
        top: 840px;
    }
}

@media only screen and (min-width: 768px) {
    #landingpage-newsletter-section-mobile {
        top: 820px;
    }
}

@media only screen and (min-width: 780px) {
    #landingpage-newsletter-section-mobile {
        top: 900px;
    }
}

@media only screen and (min-width: 848px) {
    #landingpage-newsletter-section-mobile {
        top: 920px;
    }
}

@media only screen and (min-width: 880px) {
    #landingpage-newsletter-section-mobile {
        top: 960px;
    }
}

@media only screen and (min-width: 910px) {
    #landingpage-newsletter-section-mobile {
        top: 1000px;
    }
}

@media only screen and (min-width: 950px) {
    #landingpage-newsletter-section-mobile {
        top: 1040px;
    }
}

@media only screen and (min-width: 1000px) {
    #landingpage-newsletter-section-mobile {
        top: 1110px;
    }
}

@media only screen and (min-width: 1024px) {
    #landingpage-newsletter-section {
        top: 1110px;
    }
}

@media only screen and (min-width: 1100px) {
    #landingpage-newsletter-section {
        top: 1200px;
    }
}

@media only screen and (min-width: 1150px) {
    #landingpage-newsletter-section {
        top: 1250px;
    }
}

@media only screen and (min-width: 1200px) {
    #landingpage-newsletter-section {
        top: 1300px;
    }
}

@media only screen and (min-width: 1250px) {
    #landingpage-newsletter-section {
        top: 1350px;
    }
}

@media only screen and (min-width: 1280px) {
    #landingpage-newsletter-section {
        top: 1600px;
    }
}

@media only screen and (min-width: 1536px) {
    #landingpage-newsletter-section {
        top: 1800px;
    }
}

@media only screen and (min-width: 1640px) {
    #landingpage-newsletter-section {
        top: 1850px;
    }
}

@media only screen and (min-width: 1760px) {
    #landingpage-newsletter-section {
        top: 2000px;
    }
}

@media only screen and (min-width: 1860px) {
    #landingpage-newsletter-section {
        top: 2100px;
    }
}