#landing-page-newsletter-forward-arrow {
    top: 274px;
    left: 66%;
}

@media only screen and (min-width: 360px) {
    #landing-page-newsletter-forward-arrow {
        left: 62%;
    }
}

@media only screen and (min-width: 375px) {
    #landing-page-newsletter-forward-arrow {
        left: 58%;
    }
}

@media only screen and (min-width: 390px) {
    #landing-page-newsletter-forward-arrow {
        left: 57%;
    }
}

@media only screen and (min-width: 410px) {
    #landing-page-newsletter-forward-arrow {
        left: 55%;
    }
}

@media only screen and (min-width: 430px) {
    #landing-page-newsletter-forward-arrow {
        left: 53%;
    }
}

@media only screen and (min-width: 450px) {
    #landing-page-newsletter-forward-arrow {
        left: 51%;
    }
}

@media only screen and (min-width: 475px) {
    #landing-page-newsletter-forward-arrow {
        left: 49%;
    }
}

@media only screen and (min-width: 495px) {
    #landing-page-newsletter-forward-arrow {
        left: 47%;
    }
}

@media only screen and (min-width: 525px) {
    #landing-page-newsletter-forward-arrow {
        left: 45%;
    }
}

@media only screen and (min-width: 555px) {
    #landing-page-newsletter-forward-arrow {
        left: 43%;
    }
}

@media only screen and (min-width: 590px) {
    #landing-page-newsletter-forward-arrow {
        left: 41%;
    }
}

@media only screen and (min-width: 625px) {
    #landing-page-newsletter-forward-arrow {
        left: 39%;
    }
}

@media only screen and (min-width: 640px) {
    #landing-page-newsletter-forward-arrow {
        left: 51%;
    }
}

@media only screen and (min-width: 648px) {
    #landing-page-newsletter-forward-arrow {
        left: 49%;
    }
}

@media only screen and (min-width: 675px) {
    #landing-page-newsletter-forward-arrow {
        left: 47%;
    }
}

@media only screen and (min-width: 710px) {
    #landing-page-newsletter-forward-arrow {
        left: 45%;
    }
}

@media only screen and (min-width: 770px) {
    #landing-page-newsletter-forward-arrow {
        left: 43%;
    }
}

@media only screen and (min-width: 795px) {
    #landing-page-newsletter-forward-arrow {
        left: 41%;
    }
}

@media only screen and (min-width: 845px) {
    #landing-page-newsletter-forward-arrow {
        left: 39%;
    }
}

@media only screen and (min-width: 905px) {
    #landing-page-newsletter-forward-arrow {
        left: 37%;
    }
}

@media only screen and (min-width: 975px) {
    #landing-page-newsletter-forward-arrow {
        left: 35%;
    }
}