@media only screen and (min-width: 300px) {
    #seller-mobile-section {
        top: 370px;
    }
}

@media only screen and (min-width: 420px) {
    #seller-mobile-section {
        top: 420px;
    }
}

@media only screen and (min-width: 470px) {
    #seller-mobile-section {
        top: 470px;
    }
}

@media only screen and (min-width: 530px) {
    #seller-mobile-section {
        top: 520px;
    }
}

@media only screen and (min-width: 570px) {
    #seller-mobile-section {
        top: 570px;
    }
}

@media only screen and (min-width: 639px) {
    #seller-mobile-section {
        top: 670px;
    }
}

@media only screen and (min-width: 730px) {
    #seller-mobile-section {
        top: 720px;
    }
}

@media only screen and (min-width: 780px) {
    #seller-mobile-section {
        top: 770px;
    }
}

@media only screen and (min-width: 848px) {
    #seller-mobile-section {
        top: 800px;
    }
}

@media only screen and (min-width: 880px) {
    #seller-mobile-section {
        top: 840px;
    }
}

@media only screen and (min-width: 910px) {
    #seller-mobile-section {
        top: 870px;
    }
}

@media only screen and (min-width: 950px) {
    #seller-mobile-section {
        top: 920px;
    }
}

@media only screen and (min-width: 1000px) {
    #seller-mobile-section {
        top: 970px;
    }
}

@media only screen and (min-width: 1050px) {
    #seller-mobile-section {
        top: 1020px;
    }
}

@media only screen and (min-width: 1100px) {
    #seller-mobile-section {
        top: 1070px;
    }
}

@media only screen and (min-width: 1150px) {
    #seller-mobile-section {
        top: 1120px;
    }
}

@media only screen and (min-width: 1200px) {
    #seller-mobile-section {
        top: 1170px;
    }
}

@media only screen and (min-width: 1250px) {
    #seller-mobile-section {
        top: 1220px;
    }
}