#seller-home-steps-tostart-selling-hero-div {
    background-image: url("../../public/sellerHome-steps-to-start-selling.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media only screen and (min-width: 1024px) {
    .seller-home-dotted-line {
        left: 31%;
    }
}

@media only screen and (min-width: 1050px) {
    .seller-home-dotted-line {
        left: 30.5%;
    }
}

@media only screen and (min-width: 1080px) {
    .seller-home-dotted-line {
        left: 30.3%;
    }
}

@media only screen and (min-width: 1110px) {
    .seller-home-dotted-line {
        left: 30.1%;
    }
}

@media only screen and (min-width: 1140px) {
    .seller-home-dotted-line {
        left: 29.8%;
    }
}

@media only screen and (min-width: 1160px) {
    .seller-home-dotted-line {
        left: 29.5%;
    }
}

@media only screen and (min-width: 1200px) {
    .seller-home-dotted-line {
        left: 29.3%;
    }
}

@media only screen and (min-width: 1250px) {
    .seller-home-dotted-line {
        left: 29%;
    }
}

@media only screen and (min-width: 1280px) {
    .seller-home-dotted-line {
        left: 28.5%;
    }
}

@media only screen and (min-width: 1320px) {
    .seller-home-dotted-line {
        left: 28%;
    }
}

@media only screen and (min-width: 1420px) {
    .seller-home-dotted-line {
        left: 27.5%;
    }
}

@media only screen and (min-width: 1500px) {
    .seller-home-dotted-line {
        left: 26.8%;
    }
}

@media only screen and (min-width: 1590px) {
    .seller-home-dotted-line {
        left: 27%;
    }
}

@media only screen and (min-width: 1700px) {
    .seller-home-dotted-line {
        left: 26.2%;
    }
}

@media only screen and (min-width: 1770px) {
    .seller-home-dotted-line {
        left: 25.8%;
    }
}

@media only screen and (min-width: 1825px) {
    .seller-home-dotted-line {
        left: 25.8%;
    }
}