#seller-home-steps-tostart-selling-hero-div {
    background-image: url("../../public/sellerHome-steps-to-start-selling.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#register-now-button {
    animation: moveLeftRight 2s ease-in-out infinite;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}

@media only screen and (min-width: 330px) {
    .seller-home-dotted-line {
        left: 19.5%;
    }
}

@media only screen and (min-width: 360px) {
    .seller-home-dotted-line {
        left: 19%;
    }
}

@media only screen and (min-width: 390px) {
    .seller-home-dotted-line {
        left: 18.5%;
    }
}

@media only screen and (min-width: 420px) {
    .seller-home-dotted-line {
        left: 18%;
    }
}

@media only screen and (min-width: 450px) {
    .seller-home-dotted-line {
        left: 17.5%;
    }
}

@media only screen and (min-width: 480px) {
    .seller-home-dotted-line {
        left: 17%;
    }
}

@media only screen and (min-width: 510px) {
    .seller-home-dotted-line {
        left: 16.5%;
    }
}

@media only screen and (min-width: 1024px) {
    .seller-home-dotted-line {
        left: 35%;
    }
}

@media only screen and (min-width: 1050px) {
    .seller-home-dotted-line {
        left: 34.5%;
    }
}

@media only screen and (min-width: 1080px) {
    .seller-home-dotted-line {
        left: 34.3%;
    }
}

@media only screen and (min-width: 1110px) {
    .seller-home-dotted-line {
        left: 34.1%;
    }
}

@media only screen and (min-width: 1140px) {
    .seller-home-dotted-line {
        left: 33.8%;
    }
}

@media only screen and (min-width: 1160px) {
    .seller-home-dotted-line {
        left: 33.5%;
    }
}

@media only screen and (min-width: 1200px) {
    .seller-home-dotted-line {
        left: 33.3%;
    }
}

@media only screen and (min-width: 1250px) {
    .seller-home-dotted-line {
        left: 33%;
    }
}

@media only screen and (min-width: 1280px) {
    .seller-home-dotted-line {
        left: 31.5%;
    }
}

@media only screen and (min-width: 1320px) {
    .seller-home-dotted-line {
        left: 31%;
    }
}

@media only screen and (min-width: 1420px) {
    .seller-home-dotted-line {
        left: 30.5%;
    }
}

@media only screen and (min-width: 1500px) {
    .seller-home-dotted-line {
        left: 29.8%;
    }
}

@media only screen and (min-width: 1590px) {
    .seller-home-dotted-line {
        left: 29%;
    }
}

@media only screen and (min-width: 1650px) {
    .seller-home-dotted-line {
        left: 28.2%;
    }
}

@media only screen and (min-width: 1770px) {
    .seller-home-dotted-line {
        left: 27.8%;
    }
}

@media only screen and (min-width: 1870px) {
    .seller-home-dotted-line {
        left: 27.4%;
    }
}

@media only screen and (min-width: 2000px) {
    .seller-home-dotted-line {
        left: 27.1%;
    }
}