@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-carousel .slick-dots-bottom {
    bottom: -60px;
    /* Adjust the position if needed */
}

.ant-carousel .slick-dots li button {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000;
    /* Customize the color */
    opacity: 0.5;
    /* Adjust the opacity if needed */
}

.ant-carousel .slick-dots li.slick-active button {
    background-color: #FFFFFF;
    /* Customize the active dot color */
    opacity: 1;
    /* Ensure active dot is fully visible */
}

.modal-dialog {
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

.modal-content {
    border-radius: 32px;
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
}

.default-background-svg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.custom-select {
    appearance: none;
    background-image: url("../../public/select-tag-down-arrow.png");
    background-repeat: no-repeat;
    background-position: right 20px center;
    background-size: 20px;
}

.custom-select::-webkit-scrollbar {
    width: 2px;
}

.custom-select::-webkit-scrollbar-thumb {
    border: 1px solid rgb(193, 193, 193);
}

.custom-radio {
    background-color: #F7F7F7;
    border: 1px solid #000000;
    padding: 10px;
    border-radius: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-radio:checked {
    background-color: #FFFFFF;
    border-color: #000000;
}

.custom-radio:checked::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 60%;
    background-color: #FE9135;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.dropzone {
    border: 2px dashed #cccccc;
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
}